@mixin table {
    width: 100%;
    margin-bottom: 10px;
    border-spacing: 0 15px;
    }
    td {

        &:nth-child(2),
        &:nth-child(3) {
            color: #86898f;
        }
        &:hover {
            color: black;
        }

    }
    tr {
        &:hover {
            text-decoration: underline;
        }
        @media (max-width: 750px) {
            margin-bottom: 15px;
        }

}
