$color_block_one: #f2fea1;
$color_block_twoo: #d4e69f;
$color_block_three: #98c388;
$color_block_four: rgb(148, 198, 170);
$color_block_fifth: #c1f4e6;
$backgroundColor: #f1f1f1;
$text_color: #0f141e;
$text_font_family: 'Roboto', sans-serif;
$text_link_color: rgb(145, 198, 132);
$text_link_color_hover: rgb(113, 157, 103);
$text_link_color_active: rgb(95, 137, 85);
$text_link_color_visited: rgb(211, 211, 211);