@import "variables";
.hobby {
    background: $color_block_fifth;
    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


      li {
            margin-right: 100px;
            display: block;
           @media (max-width: 767.98px){
                margin: auto;

            }
        }
    }

}