@import "variables";
.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);

}

.info {
    transition: all .5s ease-in-out;
    img {
        height: 248.22px;
        width: 200px;
        display: block;
        margin: auto;
    
    }
    display: flex;
    margin-bottom: 20px;
    p {
        color: #86898f;
        margin: 0;
        font-style: italic;
        font-weight: bold;
        text-decoration: none;
    }
    
    @media (max-width: 700px) {
        text-align: center;
        display: block;
    }
}
.info-text {
    margin-left: 40px;
    overflow: auto;
    h4 {
        margin-bottom: 10px;
    }
    @media (max-width: 400px),(max-width: 700px) {
        margin-left: 0;
    }
    p {
        margin-bottom: 10px;
    }
    .social_media {

        .instagram, .telegram {
            border-right: 1px solid #0f141e;
            padding-right: 5px;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -ms-transition: all 0.5s;
            -o-transition: all 0.5s;
            &:hover{
                color: pink;
            }
        }
        .telegram {
            border: none;
            padding-left: 5px;
            &:hover{
                color: #6e6ef3;
            }
        }
    }

}