@import "variables";
.skills {
    background: $color_block_four;
    ol {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            display: block;
            margin-right: 10px;
            @media (max-width: 767.98px){
                margin: auto 10px;
            }

        }
        @media (max-width: 575px) {
            justify-content: center;
        }
    }
}